
body {
    font-size: 16px;
    display: block;
    max-width: 100%;
    margin: 10px 40px;
    z-index: 1;
    background-color:#ededed;
	font-family:'Arial';
    box-sizing: border-box;
	font-family:'EB Garamond';
}

input[type=text] {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: white;
    background-image: url('../img/meinlupa16.png');
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 6px 2px 5px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.logo {
    margin-left: 46%;
    margin-top: -50px;
    float: left;
}

div.interface ul li {
    clear: left;
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
}

div.interface {
    padding-left: 84%;
    margin-top: -100px;
}

.nav {
    height: 50px;
    vertical-align: middle;
    background-color: #ffffff;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    //z-index: 3;
}

div.menu ul li {
    
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    padding-right: 100px;
	font-family:"EB Garamond";
}

div.menu {
    
    margin: 60px -50px;
    width: 70%;
    position: inherit;
    top: 0px;
    left: 25%;
    //z-index: 2;    
}

.image1 {
    display: block;
    margin:0 auto;
    
}

div.wrapperimg {
    background-color: rgb(241, 241, 241);
    margin-top: 8%;
    width:100%;
    height: 500px;
}

div.imagetext{
    position:absolute;
    top: 5em;
    left:15em;
    font-size: 50px;
    width: 20%;
    font-family: "Monotype Corsiva";   
    font-style: italic;
    line-height: 40px;
    z-index: 2;
    
}
div p span {
    color: cyan;
}

.rotrect{
    border: 5px solid pink;
    position: relative;
    width:300px;
    height:300px;
    transform: rotate(45deg);
    top:-20em;
    right:-35em;
    z-index: 1;
}
a{
    text-decoration: none;
}
a:visited{
    color:black;
}

.friend4eva{
    width: 45%;
    height: 400px;
    font-size: 20px;
    text-align: right;
    position : relative;
    top: 100px;
    left: 179px;   
    font-family: "Monotype Corsiva";
    background-color: white;
    
}
#friends-text{
    position: relative;
    width: 95%;
    margin-top:20%;
    z-index: 2;
}

.friends{
    font-size: 30px;
    font-family: "Arial Black";
    font-weight: bold;
    position:relative;
    top: 45px;
    text-align: left;
    color: deeppink;
    z-index: 2;
}

.image2{
    display: inline-block;
    float: right;   
    position:relative;
    bottom: 20em;
    left:13%;
    z-index: -1;
    
}
.greenrect{
    position:relative;
    border: 7px solid #81f9b3;
    z-index: 1;
    width: 44%;
    height: 400px;
    bottom: 23em;
    left:13em;
    z-index: 1;
    
}

.container2{
    width: 60%;
    height: 500px;
    position:relative;
    left:25%;
}

.container3{   
    position: relative;
    bottom: 200px;
    right:10%;
    width: 80%;
    height: 600px;
}

.cool-like-that{
    position:relative;
    height:300px;
    width: 60%;
    font-size: 20px;
    text-align: right;
    top: 400px;
    left: 631px;   
    font-family: "Monotype Corsiva";
    background-color: white;
    
}

.image3{
    display: inline-block;
    float: left;   
    position:relative;
    z-index: -1;
    left: 35%;
    
}

.cool{
    text-align: left;
    width:60%;
    font-weight: bold;
    position: relative;
    top: 20px;
    font-family: "Monotype Corsiva";
    background-color: white;
    font-size: 30px;
    color: aqua; 
    font-family: "Arial Black";
    z-index: 2;
}

.pinkrect{
    position:relative;
    border: 7px solid pink;
    z-index: 1;
    width: 550px;
    height: 320px;
    bottom: 0em;
    left: 37em;
    z-index: 1;
}


.almost-div{
    margin-top:80px;
}

.almost-div a{
    font-size: 20px;
    font-weight:bold;
    display:block;
    clear:both;
    
}
.almost-div p{
    position: relative;
    left: 600px;
    bottom: 20px;
    width: 20%;
    
    font-style: italic;
    font-weight:bold;
    text-align: left;
   
}
.imgs{
    float:left;
    margin-right: 100px;
    
}
.under{
   float:right;
    position:relative;
    bottom: 70px;
    right: 230px;
    
}

.float-right{
    float:right;    
}

#whiteback{
    background-color: white;
    width: 300px;
    height: 200px;
    float:right;
    position:relative;
    top: 90px;
    right: 220px;
}

#whiteback p{
    font-size: 24px;
    text-align:center;
    font-style:italic;
    font-weight: bold;
    color:#85eae5;
}

.greenrect2{
    position: relative;
    border: 7px solid #619ef9;
    width: 450px;
    height: 250px;
    bottom: 15em;
    left: -4em;
    z-index: 4;
}

.button1{
	width:155px;
	height:50px;
	background-color: #5efad7;
    border: none;
    color: white;
	font-weight: bold;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
	margin:20px;
}
.button1:hover{
	background-color: white; 
	font-weight: bold;
    border: 3px solid #5efad7;
	padding: 13px 20px;
	color: #5efad7;
}
.button2{
	width:155px;
	height:50px;
	background-color:transparent;
    border: 3px solid #5efad7;
    color: #5efad7;
	font-weight: bold;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	-webkit-transition-duration: 0.1s; 
    transition-duration: 0.1s;
	margin:20px;
}
.button2:hover{    
    color: white; 
	font-weight: bold;
	background-color: #5efad7; 
    border: none;
    padding: 15px 20px;
}
div.wrapperbutt{
	text-align:center;
}

div.social ul li{
    font-weight: bold;
    list-style-type: none;
    display: inline;
    padding-right: 100px;
}

div.social{
	margin: 30px -30px;
    width: 70%;
    position: relative;
    top: 10px;
    left: 20%;
    z-index: 2; 
}
 div.social h3{
	 text-align:center;
 }
 div.footer-wrapper{
	position:relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
    z-index: 2; 
}

div.footer-links ul li{
	font-weight: bold;
    list-style-type: none;
	display: inline-block;
    padding-left: 100px;
	text-align:left;
}

div.footer-links p{
	text-align:center;
}

div.footer-links{
    margin: 50px -50px;
    width: 70%;
    position: relative;
    top: 10px;
    left: 20%;
}

#center{
    text-align: center;
}

.table-centered{
    width:900px;
    height: 100px;
    
}
