body {
    font-size: 16px;
    display: block;
    max-width: 1280px;
    margin: 10px 20px;    
}

input[type=text] {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: white;
    background-image: url('../img/meinlupa16.png');
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 6px 2px 5px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.logo {
    margin-left: 50%;
    margin-top: -60px;
    float: left;
}

div.interface ul li {
    clear:left;
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
}
div.interface{
    padding-left: 84%;
    margin-top: -100px;
}
.nav{
    height: 50px;
    vertical-align: middle;
    background-color:dimgrey;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

div.menu{
    margin-top: 50px;
	text-align: center;
}
div.menu ul li {
    display: inline;
    text-decoration: none;
	text-align: center;
	color: #303030;
}

div.menu ul li a:hover{
	color: #fff;
}


